<!DOCTYPE html>
<html>
<title>todos-offline</title>
<link rel="stylesheet" href="<%= staticBase %>/styles/todos.css"/>
<body>
<h1>todos-offline</h1>

<div id="views" class="wrap blue">
  <div class="headerRegion"></div>
  <div class="content"></div>
  <div class="footerRegion"></div>
</div>
<div class="modalContainer modalWrapper"></div>
<footer>Built by <a href="https://www.backblend.com/">Backblend</a> in Vancouver, Canada</footer>
<script>
globalOpts = {
  pushState: true
, isLoggedIn: <%= isLoggedIn %>
, user: <%= JSON.stringify(user) %>
, cloudant: <%= JSON.stringify(cloudant) %>
}
</script>
<script data-main="<%= staticBase %>/config" src="<%= staticBase %>/vendor/jam/require.js"></script>
</body>
</html>
