<!DOCTYPE html>
<html>
<title>1pass-offline</title>
<link rel="stylesheet" href="<%= staticBase %>/styles/todos.css"/>
<body>
<h1>1pass-offline</h1>

<div id="views" class="wrap blue">
  <div class="headerRegion"></div>
  <div class="content"></div>
  <div class="footerRegion"></div>
</div>
<div class="modalContainer modalWrapper"></div>

<script>
globalOpts = {
  pushState: true
, isLoggedIn: <%= isLoggedIn %>
, user: <%= JSON.stringify(user) %>
}
</script>
<script data-main="<%= staticBase %>/config" src="<%= staticBase %>/vendor/jam/require.js"></script>
</body>
</html>
