<!DOCTYPE html>
<html>
<title>todos-offline marty</title>
<!-- <link rel="stylesheet" href="<%= staticBase %>/styles/todos.css"/> -->
<link rel="stylesheet" href="<%= staticBase %>/marty/todomvc-common/base.css">
<body>
<h1>todos-offline (Marty)</h1>

<section id="todoapp"></section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>
    Created by <a href="http://facebook.com/bill.fisher.771">Bill Fisher</a>
  </p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script src="<%= staticBase %>/marty/dist/todomvc.js"></script>

<p>
<a href="/">Switch to Backbone version</a>
</p>
<footer>Built by <a href="https://www.backblend.com/">Backblend</a> in Vancouver, Canada</footer>
<script>
globalOpts = {
  isLoggedIn: <%= isLoggedIn %>
, user: <%= JSON.stringify(user) %>
, cloudant: <%= JSON.stringify(cloudant) %>
}
</script>
</body>
</html>
